@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include fixed-background('../../assets/images/forest.jpg', 20px);

  @include for-size(lg) {
    @include fixed-background('../../assets/images/forest.jpg', 125px);
  }

  &__greeting {
    color: $white-color;
    background: $forest-green-color;
    padding: 15px;
    text-align: center;
  }

  &__image {
    border-radius: 5px;
    @include box-shadow(0 0 8px $nobel-color);
  }

  .sectionLayout {
    display: flex;
    justify-content: center;
  }
}
