@import '../../assets/styles/colors';

.news {
  display: flex;
  flex-direction: column;
  padding: 230px 0;
  background: url('../../assets/images/butterfly.jpg');

  .hide {
    display: none;
  }
}
