@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';

.toggle {
  width: 31px;
  height: 18px;
  background: none;
  border: none;
  position: relative;
  outline: inherit;

  .toggle__hamburger {
    cursor: pointer;

    & span {
      position: absolute;
      right: 0;
      width: 30px;
      height: 2px;
      border-right: 5px;
      background-color: #ffffff;
      transition: all .2s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 8px;
      }

      &:last-child {
        top: 16px;
      }
    }

    &.cross {
      & span {
        &:first-child,
        &:last-child {
          opacity: 0;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:nth-child(3) {
          transform: rotate(45deg);
        }
      }
    }
  }
}
