@import "../../assets/styles/colors";
@import "../../assets/styles/functions";
@import '../../assets/styles/breakpoints';
@import '../../assets/styles/mixins';

.details {
  display: flex;
  @include fixed-background('../../assets/images/giraffe.jpg', 20px);

  @include for-size(lg) {
    @include fixed-background('../../assets/images/giraffe.jpg', 200px);
  }

  &__header {
    color: $white-color;
    font-size: 18px;
    text-transform: uppercase;
    background: $nepal-color;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__description {
    margin: 25px 0;
    padding: 15px 50px 15px 15px;
    background: opacity-color($porcelain-color, 0.6);
    line-height: 1.5;
    font-size: 13px;
    text-align: justify;
    @include for-size(md) {
      font-size: 16px;
    }
  }
}
