.app-header {
  background: #232323;
}

.app-header_nav {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}

.app-header__logo--nav-home {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #b3b3b3;
  }
}

.app-header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;

  @include for-size(lg) {
    display: flex;
  }
}

.app-header__item {
  margin-left: 15px;
}

.app-header__nav-link {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #b3b3b3;
  }
}
