@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .home__greeting {
    color: $mineshaft-color;
  }

  & .home__image {
    flex: 1 1 auto;
  }
}
