@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.news-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include reset-list-style;

  &__card {
    margin: 20px 0;
  }
}
